FLASK_SECRET_KEY=replace_with_any_long_random_string
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
HCAPTCHA_SITE_KEY=61108742-d6c4-4dce-9dc4-080c2ce48d80
HCAPTCHA_SECRET=your_hcaptcha_secret_here